

#addpage_content {
	margin: 0;
	padding: 0;
}

#meme {
	position: relative;
}

#meme .canvasimg {
	position: absolute;
	top: 0px;
	left: 0px;
	display: hidden;
}

#submitmeme {
	position: absolute;
	margin: 0;
	height: 100%;
	width: 100%;
}

#submitmeme .memeTextInput {
	display: block;
	float: left;
	margin: 0;
	width: 100%;
	height: 33.33%;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size:12px;
	color: rgba(255,255,255,0);
}

#imgcontent {
	
}

#imgcontent .thumbnail {
	width: 90%;
	margin: 5%;
}



