

#addpage_content {
	margin: 0;
	padding: 0;
}

#meme {
	position: relative;
}

#meme .canvasimg {
	position: absolute;
	top: 0px;
	left: 0px;
	display: hidden;
}

#memetext {
	position: absolute;
	margin: 0;
	height: 100%;
	width: 100%;
}

#memetext .memeTextInput {
	display: block;
	float: left;
	margin: 0;
	width: 100%;
	height: 33.33%;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size:12px;
	color: rgba(255,255,255,0);
}

#imgcontent {
	
}

#imgcontent .thumbnail {
	width: 90%;
	margin: 5%;
}

#imgcontent .thumbnail:hover {
	cursor: pointer;	
}

#memelistpage {
	margin: 0;
	padding: 0;
}

#memelist {
	list-style: none;
	margin:0;
	padding:0;
	list-style-type:none;
}

#memelist li {
	list-style: none;
	margin:0;
	padding:0;
	list-style-type:none;	
}

#memelist li img {
	width: 100%;
}