

#addpage_content {
	margin: 0;
	padding: 0;
}

#meme {
	position: relative;
}

#meme .canvasimg {
	position: absolute;
	top: 0px;
	left: 0px;
}

#submitmeme {
	width: 100%;	
	margin: 10px 0 0 0;
	padding: 0 10px;	
	-moz-box-sizing: border-box;
	box-sizing: border-box;		
}

#submitmeme .memeTextInput {
	margin: 0;
	width: 100%;
}

